/*------------------------------------*\
  # Default settings
\*------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: white;
    overflow-x: hidden;
    color: #161616;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}





/*------------------------------------*\
  # Header
\*------------------------------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: #f9f9f9;
}

.nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__side {
    display: flex;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: chocolate;
    transition: 250ms all ease-in-out;
}

.nav__link:hover {
    color: #161616;
}





/*------------------------------------*\
  # Main
\*------------------------------------*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}





/*------------------------------------*\
  # Hero
\*------------------------------------*/

.hero {
    background-image: url('/media/images/header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;
}





/*------------------------------------*\
  # Form
\*------------------------------------*/

.sign-up-in {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    background-color: #f9f9f9;
    padding: 50px;
    max-width: 500px;
    width: 100%;
}

.sign-up-in__input {
    width: 100%;
    padding: 15px;
    margin-top: 7px;
    border: 1px solid #f9f9f9;
    outline: none;
}

.sign-up-in__input:focus {
    border: 1px solid chocolate;
}

.sign-up-in__button {
    width: 50%;
    align-self: center;
    padding: 15px;
    margin-top: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: chocolate;
    color: white;
    transition: 150ms all ease-in-out;
}

.sign-up-in__button:hover {
    background-color: darkgreen;
}

.sign-up-in__button:active {
    transform: translateY(2px) scale(1.05);
}


.sign-up-in label {
    margin-bottom: 25px;
    color: chocolate;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}





/*------------------------------------*\
  # Services
\*------------------------------------*/

.services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.service {
    height: 250px;
    /*min-height: 200px;*/
    width: 25%;
    border: 1px solid #ccc;
    text-align: center;
}

.service__img {
    width: 100%;
    max-height: 40%;
    object-fit: cover;
}

.service__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 60%;*/
    padding: 5px;
}

.service__title {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 10px;
}

.service__description {
    font-size: 15px;
}





/*------------------------------------*\
  # Map
\*------------------------------------*/

.map {
    width: 100%;
}

.map__iframe {
    width: 100%;
    height: 300px;
}





/*------------------------------------*\
  # Footer
\*------------------------------------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: #f9f9f9;
    text-align: center;
}
