@use '../base/typography' as *;
@use '../abstracts/variables' as *;

/*------------------------------------*\
  # Form
\*------------------------------------*/

.sign-up-in {
  display: flex;
  flex-direction: column;
  margin: 7rem 0 14rem;
  background-color: $light-gray;
  padding: 5rem;
  max-width: 50rem;
  width: 100%;

  &__input {
    width: 100%;
    padding: 1.5rem;
    margin-top: 0.7rem;
    border: 0.1rem solid $light-gray;
    outline: none;

    &:focus {
      border: 0.1rem solid chocolate;
    }
  }

  &__button {
    width: 50%;
    align-self: center;
    padding: 1.5rem;
    margin-top: 2.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: chocolate;
    color: white;
    transition: 150ms all ease-in-out;
    transform: translateY(0) scale(1);

    &:hover {
      background-color: darkgreen;
    }

    &:active {
      transform: translateY(0.2rem) scale(1.03);
    }
  }

  label {
    margin-bottom: 2.5rem;
    color: chocolate;
  }
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 1.4rem;
}
