@use '../base/typography' as *;
@use '../abstracts/variables' as *;

/*------------------------------------*\
  # Footer
\*------------------------------------*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100vw;
  background-color: $light-gray;
  text-align: center;
}





/*------------------------------------*\
  # Media 400px
\*------------------------------------*/

@media screen and (max-width: 400px) {
  .footer {
    font-size: 1.4rem;
  }
}
