@use '../base/typography' as *;
@use '../abstracts/variables' as *;

/*------------------------------------*\
  # Header
\*------------------------------------*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 100%;
  background-color: $light-gray;
}

.nav {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 76rem;
  padding: 0 2rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    margin-right: 4rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: chocolate;
    transition: 250ms all ease-in-out;

    &:hover {
      color: $black;
    }

    &--active {
      color: $black;
    }
  }

  &__side {
    display: flex;
  }
}





/*------------------------------------*\
  # Media 400px
\*------------------------------------*/

@media screen and (max-width: 400px) {
  .header {
    font-size: 1.4rem;
  }
}
